<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bank</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4" style="display:flex; justify-content: center;">
		<div class="col-sm-6">
			<form th:action="@{/save}" th:object="${persona}" method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Crear transaccion</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>Numero de transaccion</label>
							 <input type="text" th:field="*{id}" class="form-control" readonly="readonly" />
						</div>
						<div>
							<label>Nombre cuenta</label>
							 <input type="text" th:field="*{name}" class="form-control" />
						</div>
						<div>
							<label>Numero cuenta destino</label>
							 <input type="text" th:field="*{tarjeta}" class="form-control" />
						</div>
						<div>
							<label>Valor</label> 
							<input type="text" th:field="*{valor}" class="form-control" />
						</div>
					</div>
					<div class="card-footer">
					<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<script src="https://kit.fontawesome.com/1c06751c7f.js" crossorigin="anonymous"></script>
</body>
</html>