<div class="center">
    <div class="login sombra">
        <i class="far fa-user icon"></i>
        <div class="contenedor">
            <mat-label class="text-center">Usuario</mat-label>
            <mat-form-field class="inpu text-center">
                <input matInput [(ngModel)]="usuario" type="text" placeholder="">
            </mat-form-field>
            <mat-label class="text-center">Contraseña</mat-label>
            <mat-form-field class="inpu text-center">
                <input matInput [(ngModel)]="contrasena" type="password" placeholder="">
            </mat-form-field>
            <button mat-raised-button class="btn btn-light mt-5" color="primary">Login</button>

            <a href="" (click)="forget()">
                <p class="forget text-center text-muted mt-4">Olvidaste Tu Contraseña?</p>
            </a>

        </div>
    </div>
</div>
<div *ngIf="despliegueAlerta == true" class="alert alert-dark" role="alert" class=" mt-3 text-center">
    Deberas acercarte a una de nuestras <a href="#" class="alert-link">sucursales</a> para el cambio de contraseña! 
</div>
<div class="cajalogo">
    <img src="../assets/img/logo.png" class="logo" alt="">
</div>